h1{
font-size: 80px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
color: rgb(0, 0, 0);

}

h2{
font-size: 32px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
color: rgba(0, 0, 0, 0.438);

}

h3{
font-size: 20px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(0, 0, 0);

}

p{

font-size: 14px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(0, 0, 0);
text-align: center;

}

.container{

     display: inline-flex;
 
  justify-content: center;
  align-items: center;
  gap: 30px;
}

a{

   font-size: 14px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(255, 12, 12);
}

body {
    background-color: rgb(255, 255, 255);
}


img{

    height: 20em;
    width: 20em;
    align-items: center;
}

.linkbox{
padding: 30px;
    text-align: center;
}

.box:nth-child(2) img:hover {
    transform: scaleX(-1);
    transition: transform 0.3s ease;
}

.box:nth-child(2) img {
    transition: transform 0.3s ease;
}