h1{
font-size: 60px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
color: rgba(0, 0, 0, 0.438);
}

h2{
font-size: 32px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
color: rgba(0, 0, 0, 0.438);
}

h3{
font-size: 20px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
color: rgba(91, 151, 211, 0.438);
}

p{
font-size: 14px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
color: rgba(0, 0, 0, 0.438);
text-align: center;
}

.container{
display: inline-flex;
justify-content: center;
align-items: center;
gap: 30px;
}

a{
font-size: 14px;
font-family: "pf-videotext", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(0, 0, 0);
display: block;
text-align: center;
}

body {
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;
}

img {
    max-width: 20em;
    height: auto;
    display: block;
    margin: 0 auto;
}

.linkbox{
padding: 30px;
text-align: center;
}